<div id="<%= dom_id announcement %>">
  <p>
    <strong>School:</strong>
    <%= announcement.school_id %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= announcement.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= announcement.end %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= announcement.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= announcement.content %>
  </p>

</div>
