<div id="<%= dom_id task %>">
  <p>
    <strong>School:</strong>
    <%= task.school_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= task.teacher_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= task.student_id %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= task.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= task.finish %>
  </p>

  <p>
    <strong>End:</strong>
    <%= task.end %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= task.comment %>
  </p>

</div>
