<div id="<%= dom_id student %>">
  <p>
    <strong>School:</strong>
    <%= student.school_id %>
  </p>

  <p>
    <strong>Family:</strong>
    <%= student.family_id %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= student.login_id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= student.password %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= student.tel %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= student.birthday %>
  </p>

  <p>
    <strong>School name:</strong>
    <%= student.school_name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

  <p>
    <strong>Admission date:</strong>
    <%= student.admission_date %>
  </p>

  <p>
    <strong>Expulsion date:</strong>
    <%= student.expulsion_date %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= student.memo %>
  </p>

</div>
