<div id="<%= dom_id family %>">
  <p>
    <strong>School:</strong>
    <%= family.school_id %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= family.login_id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= family.password %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= family.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= family.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= family.address %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= family.tel %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= family.memo %>
  </p>

</div>
