<% @school.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_with url: schools_path do |f| %>
  <li>
    <%= f.label :login_id, "ログインID（半角英数）" %>
  </li>
  <li>
    <%= f.text_field :login_id, value: @school.login_id %>
  </li>
  <li>
    <%= f.label :password, "パスワード（半角英数）" %>
  </li>
  <li>
    <%= f.password_field :password, value: @school.password %>
  </li>

  <%= f.submit "登録" %>
<% end %>