<div class="container">
  <h2>経営者一覧だよー</h2>
  <%= button_to "新規登録", new_manager_path, method: :get %>
  <table>
    <tr>
      <th>ログインID</th>
      <th>ログイン</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.login_id %></td>
        <td><%= button_to "ログイン", "/managers/#{manager.id}/login", method: :post %></td>
        <td><%= button_to edit_manager_path(manager), method: :get do %><i class="fa-regular fa-pen-to-square"></i><% end %></td>
        <td><%= button_to manager, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } do %><i class="fa-regular fa-trash-can"></i><% end %></td>
      </tr>
    <% end %>
  </table>
</div>