<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :school_id, style: "display: block" %>
    <%= form.text_field :school_id %>
  </div>

  <div>
    <%= form.label :room_id, style: "display: block" %>
    <%= form.text_field :room_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :start, style: "display: block" %>
    <%= form.datetime_field :start %>
  </div>

  <div>
    <%= form.label :end, style: "display: block" %>
    <%= form.datetime_field :end %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :hourly_pay, style: "display: block" %>
    <%= form.number_field :hourly_pay %>
  </div>

  <div>
    <%= form.label :monthly_pay, style: "display: block" %>
    <%= form.number_field :monthly_pay %>
  </div>

  <div>
    <%= form.label :month, style: "display: block" %>
    <%= form.date_field :month %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
