<div id="<%= dom_id lesson %>">
  <p>
    <strong>School:</strong>
    <%= lesson.school_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= lesson.room_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= lesson.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= lesson.end %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= lesson.content %>
  </p>

  <p>
    <strong>Hourly pay:</strong>
    <%= lesson.hourly_pay %>
  </p>

  <p>
    <strong>Monthly pay:</strong>
    <%= lesson.monthly_pay %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= lesson.month %>
  </p>

</div>
