<div id="<%= dom_id teacher %>">
  <p>
    <strong>School:</strong>
    <%= teacher.school_id %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= teacher.login_id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= teacher.password %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= teacher.address %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= teacher.tel %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= teacher.birthday %>
  </p>

</div>
