<% @school.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_with(model: school) do |f| %>
  <%= f.hidden_field :manager_id, value: @current_user.id %>
  <li>
    <%= f.label :login_id, "ログインID（半角英数）" %>
  </li>
  <li>
    <%= f.text_field :login_id, value: @school.login_id %>
  </li>
  <li>
    <%= f.label :password, "パスワード（半角英数）" %>
  </li>
  <li>
    <%= f.password_field :password, value: @school.password %>
  </li>
  <li>
    <%= f.label :name, "塾名" %>
  </li>
  <li>
    <%= form.text_field :name %>
  </li>
  <li>
    <%= f.label :email, "メールアドレス" %>
  </li>
  <li>
    <%= form.email_field :email %>
  </li>
  <li>
    <%= f.label :address, "住所" %>
  </li>
  <li>
    <%= form.text_field :address %>
  </li>
  <li>
    <%= f.label :tel, "電話番号" %>
  </li>
  <li>
    <%= form.telephone_field :tel %>
  </li>
  <%= f.submit "登録" %>
<% end %>