<div id="<%= dom_id school %>">
  <p>
    <strong>Manager:</strong>
    <%= school.manager_id %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= school.login_id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= school.password %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= school.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= school.address %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= school.tel %>
  </p>

</div>
