<div id="<%= dom_id tuition %>">
  <p>
    <strong>School:</strong>
    <%= tuition.school_id %>
  </p>

  <p>
    <strong>Family:</strong>
    <%= tuition.family_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= tuition.title %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= tuition.month %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= tuition.amount %>
  </p>

  <p>
    <strong>Deadline date:</strong>
    <%= tuition.deadline_date %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= tuition.payment_date %>
  </p>

</div>
