<!DOCTYPE html>
<html>
  <head>
    <title>小規模学習塾用講師・生徒・授業管理サービス「hogehoge」</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel = "stylesheet" type = "text/css" href = "http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css" >   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/a8bd3ff61c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="app">
      <div class="header">
        <div class="header-logo">
          <% if @current_user %>
            <%= link_to("hogehoge", "/dashboard") %>
          <% else %>
            <%= link_to("hogehoge", "/") %>
          <% end %>
        </div>
        
        <% if @current_user == nil %>
          <ul class="header-menus">
            <li>
              <%= link_to("新規登録", "/managers/new") %>
            </li>
            <li>
              <%= link_to("ログイン", "/login") %>
            </li>
          </ul>
        <% end %>
      </div>
  
      <% if flash[:notice] %>
        <div class="flash"><%= flash[:notice] %></div>
      <% end %>
      
      <div class="main">
        <% if @current_user %>
          <div class="side-menus">
            <h2>メニュー</h2>
            <ul>
              <% case session[:user_type] %>
                <% when "manager" %>
                  <li>
                    <%= link_to("登録情報", "/managers/#{@current_user.id}/edit") %>
                  </li>
                <% when "school" %>
                  <li>
                    <%= link_to(@current_user.name, "/schools/#{@current_user.id}/edit") %>
                  </li>
                <% when "teacher" %>
                  <li>
                    <%= link_to(@current_user.name, "/teachers/#{@current_user.id}/edit") %>
                  </li>
                <% when "family" %>
                  <li>
                    <%= link_to(@current_user.name, "/families/#{@current_user.id}") %>
                  </li>
                <% when "student" %>
                  <li>
                    <%= link_to(@current_user.name, "/students/#{@current_user.id}") %>
                  </li>
              <% end %>
              
              <li>
                <%= link_to("ダッシュボード", "/dashboard") %>
              </li>

              <% if session[:user_type] == "admin" then %>
                <li>
                  <%= link_to("経営者管理", "/managers") %>
                </li>
              <% end %>

              <% if session[:user_type] == "admin" || session[:user_type] == "manager" then %>
                <li>
                  <%= link_to("塾管理", "/schools") %>
                </li>
              <% end %>

              <% if session[:user_type] == "school" then %>
                <li>
                  <%= link_to("講師管理", "/teachers") %>
                </li>
              <% end %>

              <% if session[:user_type] == "school" || session[:user_type] == "teacher" then %>
                <li>
                  <%= link_to("家族管理", "/families") %>
                </li>
                <li>
                  <%= link_to("生徒管理", "/students") %>
                </li>
                <li>
                  <%= link_to("告知管理", "/announcements") %>
                </li>
              <% end %>

              <% if session[:user_type] == "school" then %>
                <li>
                  <%= link_to("教室管理", "/rooms") %>
                </li>
              <% end %>

              <% if session[:user_type] == "school" || session[:user_type] == "teacher" then %>
                <li>
                  <%= link_to("授業管理", "/lessons") %>
                </li>
                <li>
                  <%= link_to("課題管理", "/tasks") %>
                </li>
              <% end %>

              <% if session[:user_type] == "school" then %>
                <li>
                  <%= link_to("月謝管理", "/tuitions") %>
                </li>
                <li>
                  <%= link_to("指導報告書", "/report") %>
                </li>
              <% end %>

              <% if session[:user_type] == "manager" || session[:user_type] == "school" || session[:user_type] == "teacher" then %>
                <li>
                  <%= link_to("給料明細", "/payslip") %>
                </li>
              <% end %>

              <% if session[:user_type] == "manager" || session[:user_type] == "school" then %>
                <li>
                  <%= link_to("売上明細", "/payslip") %>
                </li>
              <% end %>

              <li>
                <%= link_to("ログアウト", "/logout") %>
              </li>
            </ul>
          </div>
        <% end %>
        
        <div class="content">
          <%= yield %>
        </div>
        
      </div>
    </div>
  </body>
</html>