<!DOCTYPE html>
<html>
  <head>
    <title>小規模学習塾用講師・生徒・授業管理サービス「hogehoge」</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/a8bd3ff61c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="app">
      <div class="header">
        <div class="header-logo">
          <% if @current_user %>
            <% if session[:user_type] == "admin" %>
              <%= link_to("hogehoge", "/admin") %>
            <% end %>
            <% if session[:user_type] == "school" %>
              <%= link_to("hogehoge", "/schools/#{@current_user.id}/dashboard") %>
            <% end %>
            <% if session[:user_type] == "teacher" %>
              <%= link_to("hogehoge", "/teachers/#{@current_user.id}/dashboard") %>
            <% end %>
            <% if session[:user_type] == "student" %>
              <%= link_to("hogehoge", "/teachers/#{@current_user.id}/dashboard") %>
            <% end %>
          <% else %>
            <%= link_to("hogehoge", "/") %>
          <% end %>
        </div>
        
        <% if @current_user == nil %>
          <ul class="header-menus">
            <li>
              <%= link_to("新規登録", "/managers/new") %>
            </li>
            <li>
              <%= link_to("ログイン", "/login") %>
            </li>
          </ul>
        <% end %>
      </div>
  
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      
      <div class="main">
        <% if @current_user %>
          <div class="side-menus">
            <h2>メニュー</h2>
            <% if session[:user_type] == "admin" %>
              <ul>
                <li>
                  <%= link_to("ダッシュボード", "/admin") %>
                </li>
                <li>
                  <%= link_to("塾管理", "/schools") %>
                </li>
                <li>
                  <%= link_to("ログアウト", "/logout", data: { turbo_method: :post }) %>
                </li>
              </ul>
            <% end %>
            
            <% if session[:user_type] == "school" %>
              <ul>
                <li>
                  <%= link_to(@current_user.name, "/schools/#{@current_user.id}") %>
                </li>
                <li>
                  <%= link_to("ダッシュボード", "/schools/#{@current_user.id}/dashboard") %>
                </li>
                <li>
                  <%= link_to("講師管理", "/teachers") %>
                </li>
                <li>
                  <%= link_to("生徒管理", "/students") %>
                </li>
                <li>
                  <%= link_to("授業管理", "/lessons") %>
                </li>
                <li>
                  <%= link_to("授業報告書", "/schools/#{@current_user.id}/report") %>
                </li>
                <li>
                  <%= link_to("給与明細", "/schools/#{@current_user.id}/payslip") %>
                </li>
                <li>
                  <%= link_to("ログアウト", "/logout") %>
                </li>
              </ul>
            <% end %>
        
            <% if session[:user_type] == "teacher" %>
              <ul>
                <li>
                  <%= link_to(@current_user.name, "/teachers/#{@current_user.id}") %>
                </li>
                <li>
                  <%= link_to("ダッシュボード", "/teachers/#{@current_user.id}/dashboard") %>
                </li>
                <li>
                  <%= link_to("講師管理", "/teachers") %>
                </li>
                <li>
                  <%= link_to("生徒管理", "/students") %>
                </li>
                <li>
                  <%= link_to("授業管理", "/lessons") %>
                </li>
                <li>
                  <%= link_to("授業報告書", "/schools/#{@current_user.school_id}/report") %>
                </li>
                <li>
                  <%= link_to("給与明細", "/schools/#{@current_user.school_id}/payslip") %>
                </li>
                <li>
                  <%= link_to("ログアウト", "/logout", data: { turbo_method: :post }) %>
                </li>
              </ul>
            <% end %>
            
            <% if session[:user_type] == "student" %>
              <ul>
                <li>
                  <%= link_to(@current_user.name, "/students/#{@current_user.id}") %>
                </li>
                <li>
                  <%= link_to("ダッシュボード", "/teachers/#{@current_user.id}/dashboard") %>
                </li>
                <li>
                  <%= link_to("講師管理", "/teachers") %>
                </li>
                <li>
                  <%= link_to("生徒管理", "/students") %>
                </li>
                <li>
                  <%= link_to("授業管理", "/lessons") %>
                </li>
                <li>
                  <%= link_to("授業報告書", "/schools/#{@current_user.school_id}/report") %>
                </li>
                <li>
                  <%= link_to("ログアウト", "/logout", data: { turbo_method: :post }) %>
                </li>
              </ul>
            <% end %>
          </div>
        <% end %>
        
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>